.business-table {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  max-height: 800px;
  overflow: auto;
}
.business-table th, td {
  border: "1px solid #686D76";
  text-align: "center";
  padding: "4px";
  white-space: "nowrap";
  font-size: "12px";
}
.business-table th {
  background-color: "#f0f0f0";
  position: "sticky";
  top: 0;
  z-index: 2;
  border-spacing: 0;
  border-collapse: 'separate';
}
/* 좌측 고정 컬럼 1~7 (순번~계약종료일) */
.business-table thead th:nth-child(-n+7), tbody td:nth-child(-n+7) {
  position: "sticky";
  background: "#fff";
  z-index: 3;
  border-spacing: 0;
  border-collapse: 'separate';
}
.business-table thead tr:first-child th {
  position: "sticky";
  top: 0;
  background: "#f0f0f0";
  z-index: 3,
}
.business-table thead tr:nth-child(2) th {
  position: "sticky";
  top: 28;
  background: "#f0f0f0";
  z-index: 2;
}